<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div class="container" style="padding-top: 100px;">
	<form action="#" method="post" th:action="@{/product}" th:object="${productpo}" class="form-group" >
	
		<p><label>Name:</label>
		<input class="form-control" type="text" th:field="*{name}" id="name" th:value="${productpo.name}"/></p>
		
		<p><label>Quantity:</label>
		<input class="form-control" type="text" th:field="*{quantity}" id="quantity" th:value="${productpo.quantity}"/></p>
		
		<p><label>Price:</label>
		<input class="form-control" type="text" th:field="*{price}" id="price" th:value="${productpo.price}"/></p>
		
		<p><label>Select Category:</label>
			<select th:field="*{categoryId}" class="form-control" style="width: 150px;">
				
				<option th:each="category : ${categoryList}" th:value="${category.id}" th:utext="${category.name}"/>
			</select>
			
		</p>
		
		<p><input type="submit" class="btn btn-primary" value="submit"/></p>
		
	</form>
</body>
</html>